@use "../../styles/common";

.b-find-room-page {
  &__e-page-content {
    padding: 30px 140px 0;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      padding: 15px 60px;
    }

    @media (max-width: 768px) {
      padding: 15px 30px;
    }

    @media (max-width: 480px) {
      padding: 15px 20px;
    }
  }

  &__e-params-and-rooms {
    display: grid;

    // Total width: 266px (settings) + 834px (rooms) = 1100px in figma
    //Fractions:
    //First column: 266 / 1100 ≈ 0.2418
    //Second column: 834 / 1100 ≈ 0.7582
    grid-template-columns: 0.2418fr 0.7582fr;
    gap: 59px; // used one time - for distance between two columns

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__e-parameters {
    display: flex;
    flex-direction: column;
  }

  &__e-settings-header {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    color: common.$dark100;
  }

  &__e-sileder-and-span {
    margin-bottom: 30px;
  }

  &__e-room-price-span {
    font-size: 12px;
    line-height: 14px;
  }

  &__e-h1 {
    margin-bottom: 20.5px;
  }

  &__e-right-side-content {
  }

  &__e-rooms-grid {
    display: grid;
    gap: 12px; // расстояние между карточками
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}



