mixin b-slider(options)
    +b.b-slider&attributes(attributes)
        +e.e-header
            +e.e-title Range Slider
            +e.e-current-range-text 0 - 0
        +e.e-slider
            +e.e-thumb
            +e.e-thumb