@use "@/styles/common";

.b-slider {
  //margin-bottom: 40px;

  &__e-header {
    display: flex;
    justify-content: space-between;
  }

  &__e-title {
    @extend .h3;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__e-current-range-text {
    color: common.$dark50;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
    width: 90px; // otherwise when text changes it may drop to another line
  }

  &__e-slider {
    display: flex;
    position: relative;

    //width: 266px;
    height: 6px;

    border: 1px solid common.$dark25;
    border-radius: 3px;

    background-color: #FFFFFF;
  }

  &__e-thumb {
    position: absolute;
    touch-action: none;
    box-sizing: content-box;

    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    left: 10px;
    top: -5px;
    background: common.$green;
    cursor: pointer;
  }
}