include ../../colors-and-type-blocks/h1/h1
include ../../form-elements-blocks/input-field/b-input-field
include ../../form-elements-blocks/button/button
include ../../form-elements-blocks/counter/b-counter
include ../../form-elements-blocks/radio-button/radio-button
include ../../colors-and-type-blocks/h3/h3
include ../../form-elements-blocks/toggle/toggle


mixin b-registration()
    +b.FORM.b-registration&attributes(attributes)
        +b-h1("Регистрация аккаунта")(style="margin-bottom: 20px")
        +b-input-field({
            type: "text", headText: "",
            secondHeadText: "",
            placeholder: "Имя"
        })(style="margin-bottom: 10px;")
        +b-input-field({
            type: "text", headText: "",
            secondHeadText: "",
            placeholder: "Фамилия"
        })(style="margin-bottom: 10px;")
        +e.e-row(style="margin-bottom: 20px;")
            +b-radio-button({
                id: "rb1", name: "gender",
                text: "Мужчина", active: ""
            })(style="margin-right: 20px")
            +b-radio-button({
                id: "rb2", name: "gender",
                text: "Женщина"
            })
        +b-input-field({
            type: "single-date-picker", headText: "дата рождения",
            value: "ДД.ММ.ГГГГ"
        })(style="margin-bottom: 20px;")
        +b-h3("данные для входа в сервис")
        +b-input-field({
            type: "email", headText: "",
            secondHeadText: "",
            placeholder: "Email"
        })(style="margin-bottom: 10px;")
        +b-input-field({
            type: "password", headText: "",
            secondHeadText: "",
            placeholder: "Пароль"
        })(style="margin-bottom: 10px;")
        +b-toggle({
            id: "specialOffers",
            text: "Получать спецпредложения",
            active: "false"
        })(style="margin-bottom: 20px")
        +b-button({
            type: "wide", text: "перейти к оплате",
            disabled: "false", icon: "arrow-forward"
        })(type="submit" style="margin-bottom: 30px")
        +e.e-row(style="justify-content: space-between;")
            +e.SPAN.e-question-block-text Уже есть аккаунт на Toxin
            +b-button({
                type: "secondary", text: "войти",
                disabled: "false"
            })(type="button")