mixin b-spacer(options)
    - let inlineStyle
    - let styleStr = "flex: 1;height: " + options.height + ";"
    if options.width
        // no px
        - inlineStyle = "display: inline-block;max-width: " + options.width + ";"
    else
        - inlineStyle = ""
    +b.b-spacer(style= inlineStyle + styleStr)