@use "@/styles/common";

.b-pagination {
  min-width: 241px;
  display: flex;
  justify-content: center;

  &__e-buttons-container {
    display: flex;
    margin-bottom: 10.5px;
  }

  &__e-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 40px;
    height: 40px;

    color: common.$dark50;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;

    &_selected {
      background-color: common.$purple;
      border-radius: 22px;
      color: common.$white;

      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      color: common.$white;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__e-next-page-button, &__e-previous-page-button {
    @extend .material-icons;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    padding: 12.5px 17px;

    color: common.$white;

    background-color: common.$green;
    border-radius: 22px;

    &::before {
      content: "arrow_forward";
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__e-previous-page-button {
    &::before {
      content: "arrow_back";
    }
  }

  &__e-description, &__e-on-page-elements-count,
  &__e-union-text, &__e-total-elements-count,  &__e-finishing-text {
    color: common.$dark75;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__e-three-dots {
    display: flex;
    align-self: flex-start;

    width: 40px;
    height: 40px;

    padding: 12.5px 17px;

    color: common.$dark50;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
}