include ../logo/logo.pug
include ../colors-and-type-blocks/b-color/b-color.pug
include ../colors-and-type-blocks/h1/h1.pug

+b-logo("watermark")
+b-color("Black", "#000000")
+b-color("Boloto", "#ACC321")
+b-h1("h1")

p The qugg