include ../logo/logo.pug
include  ../spacer/spacer

+b.b-form-elements-page
    link(rel='stylesheet', href=require('./form-elements-page.scss'))
    +e.DIV.e-header
        +b-logo("watermark")
        +b-spacer({height: "67px"})
    +e.e-content-container
        +b-spacer({width: "120px", height: "1px"})
