include ../logo/logo.pug
include  ../spacer/spacer
include  ../form-elements-blocks/input-field/b-input-field

+b.b-form-elements-page
    link(rel='stylesheet', href=require('./form-elements-page.scss'))
    +e.DIV.e-header
        +b-logo("watermark")
        +b-spacer({height: "67px"})
    +e.e-content-container
        +b-spacer({width: "120px", height: "1px"})
        +b-input-field({type: "dropdown", headText: "Hi", secondHeadText: "hellio",
            value: "def value", placeholder: "AADADA", image: "chevron"})
            p Dropdown