// ALERT    ALERT    ALERT    ALERT    ALERT
// Changing this file will affect many page elements
// changing h1-h6, p, body text will affect all elements that use this rules set
// change h1-h6, p, body text in blocks style files

$grads: 100, 75, 50, 25, 5;
$dark: #1F2041;
$dark100: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark5: rgba($dark, 0.05);
$white: #FFFFFF;
$purple: #BC9CFF;
$light-purple: #EBE7FD; // for gradients
$button-disabled-purple: #D1CFFC;
$green: #6FCF97;

@each $grad in $grads {
  $opacity: calc($grad / 100); // Calculate the opacity based on the percentage
  .dark-#{$grad} {
    background-color: rgba($dark, $opacity);
  }
}


html {
  margin: 0 0;
  font-family: Montserrat, sans-serif;
  border-color: #FFFFFF;
  color: $dark75;
}

body {
  margin: 0 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* 1 – Delete rules */
/* 2 – Delete margin in Firefox and Safari */
input {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

button, input[type="submit"], input[type="reset"] {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}


.h1 {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  color: $dark;
}

.h2 {
  font-size: 19px;
  font-weight: 700;

  color: $dark;
}

.h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 128%; // depending on pixel perfect page text types

  color: $dark;
}

.body-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  color: $dark75;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }