@use "../../../styles/common";

.b-room {
  @extend .card;

  padding: 0;

  width: 270px;

  &__e-content {
    padding: 0 17px 19px 20px;
  }

  &__e-main-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 10px;
  }

  &__e-room-number-container {
    display: flex;
    align-items: baseline;
  }

  &__e-room-number-sign {
    font-size: 14px;
    font-weight: bold;
    color: common.$dark100;
  }

  &__e-room-number {
    font-size: 19px;
    font-weight: bold;
    color: common.$dark100;
  }

  &__e-lux-text {
    font-size: 12px;
    font-weight: bold;
    color: common.$purple;

    margin-left: 1px;

    text-transform: uppercase;
  }

  &__e-price {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: common.$dark50;
  }

  &__e-price-tail {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: common.$dark50;
  }


  &__e-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 20px;

    &_has-margins {
      margin-top: 21px;
      margin-bottom: 20px;
    }
  }

  &__e-separation-line {
    height: 1px;
    width: 100%;
    background-color: common.$dark10;
    margin-bottom: 8px;
  }

  &__e-feedback-row {
    display: flex;
    justify-content: space-between;
  }

  &__e-feedback-text {
    margin-right: 3px;
  }

  &__e-feedback-count {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: common.$dark50;
  }

  &__e-feedback-count-tail {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: common.$dark50;
  }
}