include ../../form-elements-blocks/rate-button/rate-button
include ../carousel/carousel

mixin b-room(options)
    //- {roomNumber, isLux, price, rating, feedBackCount, imagesUrlArray}
    +b.FORM.b-room&attributes(attributes)
        +e.e-picture-container
            +b-carousel(options.imagesUrlArray)
        +e.e-content
            +e.e-main-row
                +e.e-card-header
                    +e.e-room-number-container
                        +e.SPAN.e-room-number-sign № 
                        +e.SPAN.e-room-number #{options.roomNumber}
                        if options.isLux
                            +e.SPAN.e-lux-text люкс
                +e.e-price-container
                    +e.SPAN.e-price #{options.price}₽
                    +e.SPAN.e-price-tail  в сутки
            +e.e-separation-line
            +e.e-feedback-row
                +b-rate-button({value: options.rating})
                +e.e-feedback-text
                    +e.SPAN.e-feedback-count #{options.feedBackCount}
                    +e.SPAN.e-feedback-count-tail  Отзывов

