
mixin b-logo(type = "full")
  link(rel='stylesheet', href=require('./logo_type_watermark.scss'))
  link(rel='stylesheet', href=require('./logo_type_full.scss'))
  if type == "full"
    +b.b-logo.IMG(src="./assets/images/logo-full.png")._type_full
  else if type == "watermark"
    +b.b-logo.IMG(src="./assets/images/logo-watermark.png")._type_watermark
  else
    +b.b-logo.IMG(src="./assets/images/logo-full.png")._type_full