mixin b-logo(type = "full")
  -
    let lf= require('@/assets/images/logo-full.png');
    let lw= require('@/assets/images/logo-watermark.png');
  if type == "full"
    +b.A.b-logo(href = "#")
      +e.e-logo-img&attributes(attributes).IMG(src=lf alt="logo")._type_full
  else if type == "watermark"
    +b.A.b-logo(href = "#")
      +e.e-logo-img&attributes(attributes).IMG(src=lw alt="logo")._type_watermark
  else
    +b.A.b-logo(href = "#")
      +e.e-logo-img&attributes(attributes).IMG(src=lf alt="logo")._type_full