extends ../../template.pug

include ../../blocks/logo/logo
include ../../blocks/spacer/spacer
include ../../blocks/form-elements-blocks/input-field/b-input-field
include ../../blocks/form-elements-blocks/counter/b-counter
include ../../blocks/form-elements-blocks/button/button
include ../../blocks/form-elements-blocks/checkbox/checkbox
include ../../blocks/form-elements-blocks/radio-button/radio-button
include ../../blocks/form-elements-blocks/toggle/toggle
include ../../blocks/form-elements-blocks/like-button/like-button
include ../../blocks/form-elements-blocks/rate-button/rate-button
include ../../blocks/form-elements-blocks/slider/slider
include ../../blocks/form-elements-blocks/pagination/pagination

block head
    title Form elements
    meta(name="keywords" content="Form, Elements")
    meta(name="description" content="Form Elements")
block content
    +b.b-form-elements-page
        +e.DIV.e-header
            +b-logo("watermark")
        +e.e-content-container
            +e.e-column
                +b-input-field({type: "text", headText: "Text Field",
                  secondHeadText: "Default",
                  placeholder: "Email"})
                +b-input-field({type: "text", headText: "Text Field",
                  secondHeadText: "Hover / Focus",
                  value: "This is pretty awesome",
                  placeholder: ""})(style="margin-top: 20px;")
                +b-input-field({
                    type: "dropdown", headText: "Dropdown",
                    value: "Сколько гостей"})(style="margin-top: 20px;")
                    p Dropdown
                +b-input-field({
                    type: "text", headText: "masked text field",
                    value: "", placeholder: "ДД.ММ.ГГГГ"
                })(style="margin-top: 20px;")

                +e.e-row
                    +b-input-field({
                        type: "single-date-picker", headText: "date Dropdown",
                        value: "ДД.ММ.ГГГГ"
                    })(style="width: 150px; margin-top: 40px; margin-right: 20px;")
                    +b-input-field({
                        type: "single-date-picker", headText: "date Dropdown",
                        value: "19.08.2019"
                    })(style="width: 150px; margin-top: 40px;")

                +b-input-field({
                  type: "range-date-picker", headText: "filter date dropdown",
                  value: "19 авг - 23 авг"
                })(style="width: 266px; margin-top: 40.5px;")

                +b-input-field({
                  type: "text", headText: "subscription text field",
                  value: "", placeholder: "Email", image: "arrow-forward"
                })(style="width: 266px; margin-top: 41px;")

                +b-input-field({
                  type: "counters-no-buttons", headText: "Dropdown",
                  secondHeadText: "Default",
                  value: ""
                })(style="width: 266px; margin-top: 100px;")
                    +b-counter({text: "спальни",
                      initialValue: 2}).__e-row
                    +b-counter({text: "кровати",
                      initialValue: 2}).__e-row
                    +b-counter({text: "ванные комнаты",
                      initialValue: 0}).__e-row

                +b-input-field({
                  type: "counters-apply-button",
                  headText: "Dropdown", secondHeadText: "Expanded",
                  value: "Default text"
                })(style="width: 266px; margin-top: 20px; margin-bottom: 160px;"
                    data-open-by-default)
                    +b-counter({text: "спальни",
                      maxValue: 5, initialValue: 2}).__e-row
                    +b-counter({text: "кровати",
                      maxValue: 5, initialValue: 2}).__e-row
                    +b-counter({text: "ванные комнаты",
                      maxValue: 5, initialValue: 0}).__e-row

            +e.e-column
                +e.e-checkboxes-container
                    +e.e-title Checkbox Buttons
                    +b-checkbox({
                      id: "cb1",
                      text: "Можно курить",
                      active: "false"})(style="margin-bottom: 10px")
                    +b-checkbox({
                      id: "cb2",
                      text: "Можно с питомцами",
                      active: "true"})(style="margin-bottom: 10px")
                    +b-checkbox({
                      id: "cb4",
                      text: "Можно пригласить гостей (до 10 человек)",
                      active: "true"
                    })(style="margin-bottom: 10px")

                +e.e-title Radio Buttons
                +e.e-row(style="margin-bottom: 36.5px")
                    +b-radio-button({id: "rb1", name: "gender",
                      text: "Мужчина", active: ""})(style="margin-right: 20px")
                    +b-radio-button({id: "rb2", name: "gender",
                      text: "Женщина"})

                +e.e-title Toggle
                +b-toggle({
                  id: "tg1",
                  text: "Получать спецпредложения",
                  active: "true"
                })(style="margin-bottom: 10px")
                +b-toggle({
                  id: "tg2",
                  text: "Получать спецпредложения",
                  active: "false"
                })(style="margin-bottom: 40.4px")

                +e.e-title Like button
                +e.e-row(style="margin-bottom: 40px;")
                    +b-like-button({disabled: "", value: "2"})(style="margin-right: 10px")
                    +b-like-button({value: "12"})

                +e.e-title Rate button
                +e.e-row
                    +b-rate-button({value: "4"})(style="margin-right: 20px")
                    +b-rate-button({value: "5"})
            +e.e-column
                +b-slider({title: "Range Slider", minValue: "0", maxValue: "15000",
                  step: "1000", defaultStart: "5000", defaultEnd: "10000"})
                +e.e-title Buttons
                +e.e-row
                    +b-button({type: "primary", text: "Click me"})(
                        style="margin-right: 19px; margin-bottom: 30px;")
                    +b-button({type: "primary", text: "Click me", disabled: "true"})

                +e.e-row
                    +b-button({type: "secondary", text: "Click me"})(
                        style="margin-right: 19px; margin-bottom: 30px;")
                    +b-button({type: "secondary", text: "Click me", disabled: "true"})

                +e.e-row
                    +b-button({type: "text", text: "Click me"})(
                        style="margin-right: 19px; margin-bottom: 30px;")
                    +b-button({type: "text", text: "Click me", disabled: "true"})

                +b-button({type: "wide", text: "перейти к оплате",
                  disabled: "true", icon: "arrow-forward"})(style="margin-bottom: 40px")

                +e.e-title Pagination
                +b-pagination({defaultPages: "15",
                  defaultDescription: "1 – 12 из 100+ вариантов аренды"})

            +e.e-column
                p first new col
            +e.e-column
                p sec new col
            +e.e-column
                p third new col
