extends ../../template.pug

include ../../blocks/logo/logo
include  ../../blocks/spacer/spacer
include  ../../blocks/form-elements-blocks/input-field/b-input-field
include  ../../blocks/form-elements-blocks/counter/b-counter

block head
    title Form elements
    meta(name="keywords" content="Form, Elements")
    meta(name="description" content="Form Elements")
block content
    +b.b-form-elements-page
        //link(rel='stylesheet', href=require('./form-elements-page.scss'))
        +e.DIV.e-header
            +b-logo("watermark")
            +b-spacer({height: "67px"})
        +e.e-content-container
            +b-spacer({width: "111px", height: "1px"})
            +e.e-column-1
                +b-input-field({type: "text", headText: "Text Field", secondHeadText: "Default",
                    placeholder: "Email"})
                +b-input-field({type: "text", headText: "Text Field", secondHeadText: "Hover / Focus",
                    value: "This is pretty awesome", placeholder: ""})(style="margin-top: 20px;")
                +b-input-field({
                    type: "dropdown", headText: "Dropdown",
                    value: "Сколько гостей"})(style="margin-top: 20px;")
                    p Dropdown
                +b-input-field({
                    type: "text", headText: "masked text field",
                    value: "", placeholder: "ДД.ММ.ГГГГ"
                })(style="margin-top: 20px;")

                +b-input-field({
                    type: "single-date-picker", headText: "date Dropdown",
                    value: "ДД.ММ.ГГГГ"
                })(style="width: 150px; margin-top: 40px; margin-right: 20px;")
                +b-input-field({
                    type: "single-date-picker", headText: "date Dropdown",
                    value: "19.08.2019"
                })(style="width: 150px; margin-top: 40px;")

                +b-input-field({
                  type: "range-date-picker", headText: "filter date dropdown",
                  value: "19 авг - 23 авг"
                })(style="width: 266px; margin-top: 40.5px;")

                +b-input-field({
                  type: "text", headText: "subscription text field",
                  value: "", placeholder: "Email", image: "arrow-forward"
                })(style="width: 266px; margin-top: 41px;")

                +b-input-field({
                  type: "dropdown", headText: "Dropdown", secondHeadText: "Default",
                  value: "2 спальни, 2 кровати..."
                })(style="width: 266px; margin-top: 100px;")
                    +b-counter({text: "спальни", minValue: 0, initialValue: 0}).__e-row
                    +b-counter({text: "кровати", minValue: 0, initialValue: 0}).__e-row
                    +b-counter({text: "ванные комнаты", minValue: 0, initialValue: 0}).__e-row

                +b-input-field({
                  type: "dropdown", headText: "Dropdown", secondHeadText: "Expanded",
                  value: "2 спальни, 2 кровати..."
                })(style="width: 266px; margin-top: 20px;" data-open-by-default)
                    +b-counter({text: "спальни", minValue: 0, maxValue: 5, initialValue: 1}).__e-row
                    +b-counter({text: "кровати", minValue: 0, maxValue: 5, initialValue: 1}).__e-row
                    +b-counter({text: "ванные комнаты", minValue: 0, maxValue: 5, initialValue: 0}).__e-row
