mixin b-like-button(options)
    // {active}
    - let value = options.value ?? 0;
    - let disabledClass = options.disabled ? "_disabled" : "";
    +b.BUTTON.b-like-button(class=disabledClass)&attributes(attributes)
        +e.SPAN.e-like-icon
        +e.SPAN.e-counter-text #{value}