@use "font-face-Quicksand";
@use "font-face-Montserrat";

$grads: 100, 75, 50, 25, 5;
$dark: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark5: rgba($dark, 0.05);

@each $grad in $grads {
  $opacity: calc($grad / 100); // Calculate the opacity based on the percentage
  .dark-#{$grad} {
    background-color: rgba($dark, $opacity);
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* 1 – Delete rules */
/* 2 – Delete margin in Firefox and Safari */
input {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

button, input[type="submit"], input[type="reset"] {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

body {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.h1 {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  color: $dark;
}

.h2 {
  font-size: 19px;
  font-weight: 700;

  color: $dark;
}

.h3 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 128%; // depending on pixel perfect page text types

  color: $dark;
}

.body-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  color: $dark75;
}
