$dark: #1F2041;
$dark100: #1F2041;
$dark75: rgba($dark, 0.75);
$dark50: rgba($dark, 0.50);
$dark25: rgba($dark, 0.25);
$dark5: rgba($dark, 0.05);
$white: #FFFFFF;
$purple: #BC9CFF;
$light-purple: #EBE7FD; // for data selection