mixin b-rate-button(options)
    // {value: string}
    -
        function isFilledStar(number) {
          if (!(options.value && Number.isFinite(+options.value))) {
            return false;
          }
          return number <= options.value;
        }
    - let n = 0;
    +b.b-rate-button&attributes(attributes)
        while n < 5
            - n++
            if (isFilledStar(n))
                +e.BUTTON.e-star-button(class="_filled")
            else
                +e.BUTTON.e-star-button
