include ../../form-elements-blocks/button/button
include ../../logo/logo

mixin b-header(options)
    +b.b-header&attributes(attributes)
        +e.e-inner
            +e.e-left
                +b-logo()

            +e.e-nav
                +e.UL.e-menu
                    each item in options.elements
                        +e.LI.e-menu-item
                            if item.elements
                                +e.A.e-link(href='#')
                                    | #{item.text}
                                    i.material-icons.e-link__arrow expand_more
                                +e.UL.e-submenu
                                    each subItem in item.elements
                                        +e.LI.e-submenu-item
                                            +e.A.e-submenu-link(href='#')= subItem
                            else
                                +e.A.e-link(
                                    href='#'
                                    class=item.isBold ? 'e-link_bold' : ''
                                )= item.text

            +e.e-right
                if options.username
                    +e.SPAN.e-username= options.username
                    +b-button({text: 'Выйти', type: 'secondary'})
                else
                    // Если не нужен реально «широкий» вид, уберите type: "wide" или переопределите в SCSS:
                    +b-button({text: 'Войти', type: 'primary'})
                    +b-button({text: 'Зарегистрироваться', type: 'wide'})
