include ../../form-elements-blocks/button/button
include ../../logo/logo

mixin b-header(options)
    +b.b-header&attributes(attributes)
        +e.e-inner
            +e.e-left
                +b-logo()(style="height: 40px")

            +e.BUTTON.e-mobile-menu-toggle
                +e.SPAN.e-mobile-menu-icon
                    +e.SPAN.e-mobile-menu-icon-line_top
                    +e.SPAN.e-mobile-menu-icon-line_bottom

            +e.e-nav
                +e.UL.e-menu
                    each item in options.elements
                        +e.LI.e-menu-item
                            if item.elements
                                +e.A.e-link(href='#')
                                    | #{item.text}
                                    +e.i.material-icons.e-link__arrow expand_more
                                +e.UL.e-submenu
                                    each subItem in item.elements
                                        +e.LI.e-submenu-item
                                            +e.A.e-submenu-link(href='#')= subItem
                            else
                                +e.A.e-link(
                                    href='#'
                                    class=item.isBold ? 'e-link_bold' : ''
                                )= item.text

            +e.e-right
                if options.username
                    +e.SPAN.e-username= options.username
                else
                    +b-button({text: 'Войти', type: 'secondary', small: true})
                    +b-button({text: 'Зарегистрироваться', type: 'primary', small: true})