mixin b-bullet-list(options)
    +b.UL.b-bullet-list&attributes(attributes)
        block

    //-
        +b-bullet-list({})
            +b-bullet-item({text: "Нельзя с питомцами"})
            +b-bullet-item({text: "Без вечеринок и мероприятий"})
            +b-bullet-item({
                text: "Время прибытия — после 13:00,\n" +
                    "а выезд до 12:00"
            })