include ../logo/logo.pug
include ../colors-and-type-blocks/b-color/b-color.pug
include ../colors-and-type-blocks/h1/h1.pug
include ../colors-and-type-blocks/h2/h2.pug
include ../colors-and-type-blocks/h3/h3.pug
include ../colors-and-type-blocks/body-text/body-text
include  ../spacer/spacer

mixin UI-kit-template()
    +b.b-UI-kit-template
        +e.DIV.e-container
            +e.DIV.e-header
                +b-logo("watermark")
                +b-spacer({height: "67px"})
            +e.e-content-container
                +b-spacer({width: "120px", height: "1px"})
    block
