mixin logo(type = "full")
  if type == "full"
    +b.b-logo._type-full 
      +e.logoImg.IMG(src="/assets/images/logo.png")
  else if type == "water-mark"
    +b.b-logo._type-water-mark
      +e.logoImg
        p img-water-mark
  else
    +b.b-logo._type-full 
      +e.logoImg
        p img-full